/* Starting new design for bdfactcheck */
@font-face {
  font-family: solaimanlipi;
  src: url(fonts/SolaimanLipi.ttf);
}
body{
  font-family: solaimanlipi !important;
}
.d_header_logo{
  object-fit: cover;
  width: 200px;
  height: 100px;
}
.d_top_buttons{
  text-align: right;
}
.d_button {
  background-color: #f1f1f2;
  border: 1px solid #064618;
  border-radius: 5px;
  color: black;
  padding: 3px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 600;
}
.d_button:hover{
  background-color: #064618;
  color: white;
}
.d_top_social{
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}
.d_top_social p{
  padding: 5px 3px;
}
.d_top_social a{
  text-decoration: none;
  color: black;
}
.d_top_social .fa{
  padding: 5px;
  font-size: 24px;
  transition: transform 0.5s;
}
.d_top_social .fa:hover{
  transform: scale(1.10);
}
.d_search_img{
  cursor: pointer;
  margin: 6px 0 0 20px;
  height: 25px;
  width: 25px;
  transition: transform 0.3s ease;
}
.d_search_img:hover{
 transform: scale(1.10);

}
.menu_item{
  margin-top: 5px;
}
.dashicons-admin-home::before {
    font-size: 20px !important;
}
.d_most_read_post_wrap{
  width: 100% !important;
}

#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item > a.mega-menu-link{
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.8s;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item > a.mega-menu-link:hover{
  background-color: #F0F0ED;
  border-bottom: 3px solid #ae1a20;
}
.d_search{
  text-align: right;
}
.gsc-input-box{
  border: none !important;
}
.gsc-search-button{
  margin-top: -20px;
  height: 40px !important;
}
.gsc-search-button-v2{
  height: 40px;
  background-color: #064618 !important;
  cursor: pointer;
}
.gsc-search-button svg{
  width: 20px !important;
  height: 20px !important;
}
.gsib_a{
  padding: 8px 0 8px 5px !important;
  border: 2px solid #064618 !important;
}
.gsc-input{
  border-color: white !important;
}
.d_menu_header{
  z-index: 10000000;
    margin-top: 20px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
}

#mysticky-nav.wrapfixed {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3 ) !important;
}


/* Single Page Design Starts */

.d_single{
  margin: 4% 0 3% 0;
}
.d_single_cat{
  margin: 5px 0 5px 0;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid black;
}
.d_single_date,
.d_last-modified{
  margin: 5px 0 5px 0;
  font-size: 12px;
  line-height: 1.2;
}
.d_last-modified{
  border-bottom: 1px solid black;
}
.d_single_title{
  margin: 5% 0;
  font-size: 26px;
  color: #006747;
  font-weight: 700;
}
.d_test{
  margin-top: 3%;
}
.d_single_content p{
    font-size: 18px;
}
.d_single_sml{
  margin: 3% 0;
}

/* Single Page Design Ends */


/*Same Category news sidebar starts*/
.d_same_cat_news_parent{
    float: left;
    width: 100%;
    position: relative;
    margin: 0 0 20px 0;
}
.d_same_cat_news{
    font-size: 16px;
    font-weight: 600;
    color: #8B0000;
}
.d_cat_heading_text{
    font-size: 14px;
    margin-bottom: 1px;
    font-weight: 400;
    color: black !important;
}
hr.d_same_cat_news_hr{
    background-color: #fff;
    border-top: 1px dashed #8B0000;
}
.d_top_fact_background{
  background-color: #f1f1f2;
}
/*Same Category news sidebar ends*/

/* comments page design starts */
.comment-list{
  background-color: #f1f1f2;
  padding: 10px;
}
.comment-metadata time{
  color: black;
  font-size: 10px;
  text-decoration: none;
}
.comment-content p{
  color: #064618;
  font-size: 20px;
}
.comments-area ol{
  margin: 0;
}

/* Comments page design ends */

/* Archieve page Design starts */
.d_home_top{
  font-size: 16px;
  font-weight: 600;
  padding: 1rem 0rem;
}
.d_heading_text a{
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 1px;
    color: #064618;
    font-weight: 600;
}
.d_heading_text a:hover{
    color: #ae1a20;
    text-decoration: none;
}
.d_text_box{
    padding: 0 10px;
    width: 58%;
    height: 12rem;
    float: left;
}
.d_text_box p{
    font-size: 18px;
}
.btn_2{
  color: #ae1a20;
  font-weight: 600;
}
.btn_2:hover{
  color: #064618;
}
.d_donate{
  margin: 10px 0;
}
/* Archieve page design Ends */

.d_pagination{
  margin-top: 3%;
  text-align: center;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    color: #fff;
    text-decoration:none;
}

.navigation li {
    display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    background-color: #006747;
    border-radius: 2px;
    cursor: pointer;
    padding: 12px;
    padding: 0.5rem 0.7rem;
}

.navigation li a:hover,
.navigation li.active a {
    background-color: #ae1a20;
}


/*footer design starts===================================*/
 .d_site-footer{
     position: absolute;
     width: 100%;
     background-color: rgba(0, 98, 71, 0.659);
}
 .d_footerMain {
     padding-top:5%;
     padding-bottom:5%;
}
 .d_footer_socIcon {
     width:20%;
     margin-top: -5%;
     margin-left: 12%!important;
}
 .d_footer_Social {
     transform:scale(0.8);
}
 .d_footer_cr {
     transform: scale(0.8);
}
 .d_footer_clm1{
     margin-top: -7%;
}
 .d_footer_image{
     display: block;
     width: 13rem;
     height: 5rem;
     padding: .5rem;
     margin-left: -1rem;
}
 .d_footer_clm_text{
     font-size: 16px;
     color: white;
     line-height: 1.5;
}
 .d_footer_clm2{
     height: 80%;
     border-right: 1px solid white;
     margin-right: 15%;
}
 .d_footer_clm_text2{
     font-size: 16px;
     color: white;
     line-height: 2;
}
 .d_footer_clm3{
     border-right: 1px solid white;
}
 .d_footer_table{
     float: left;
     margin: 0.5rem;
}
 .d_list_parent{
     list-style-type: none;
     font-size: 16px;
     color: white;
     line-height: 2.2;
}
 .d_list_text{
     font-size: 16px;
     color: white;
     line-height: 1.6;
}
 .d_footer_2nd_row{
     width: 100%;
     background-color: #222823;
}
 .d_footer_2nd_row_text{
     font-size: 16px;
     color: white;
     padding: 15px 0;
     text-align: center;
     background-color: #3a3b3a;
}
.d_footer_2nd_row_text span:first-child{
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
}
.d_footer_margin{
  padding-top: 10px;
  margin-bottom: -10px;
}

 .d_footer_3rd_row_text{
     background-color: white;
     height: 40px;
     line-height: 40px;
     text-align: center;
     font-size: 16px;
}
 .one{
     padding: 1rem;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

/*footer design ends*===================================/
/* Footer Responsive Design */
 @media only screen and (max-width: 600px) {
     .d_footer_clm2{
         border:none;
    }
     .d_footer_clm_text{
         margin-left:15%;
         text-align: center;
    }
     .d_footer_socIcon {
         margin-left: 25%!important;
         width:50%;
         margin-top: 5%;
    }
}
 @media only screen and (min-width: 767px) and (max-width: 1199px) {
     .d_footer_socIcon {
         margin:0%!important;
    }
     .d_footer_clm2{
         border:none!important;
         margin-right: 0%!important;
         margin-bottom: 10%;
    }
     .d_footer_logo {
         transform: scale(1.5);
         margin-left: 0%!importent;
         margin-top: 10%!important;
    }
     .d_footer_socIcon {
         margin-left: 60%!important;
         width:50%;
         margin-top: 5%;
         margin-top: -42%!important;
    }
     .d_footer_tab {
         margin:0 auto;
    }
}










































.d_home_image{
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    float: left;
    margin: 0 0.5rem 0 0.5rem;
}
.d_override_container{
    margin-left: -5%;
    margin-right: -5%;
}
hr.style1{
    border-top: 1.5px solid #8c8b8b;
    width: 100%;
    margin-top: -.1%;
}
.d_news_box{
    width: 100%;
    float: left;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(black, 0.1);
    border-radius: 3px;
    /*background-color: green;*/
    margin-bottom: 1rem;
}
.d_image_box{
    width: 40%;
    height: 11rem;
    float: left;
    /*background-color: red;*/
    margin-right: 5px;

}
.d_post_image{
    object-fit: cover;
    height: 100%;
    width: 100%;

}
.d_clock_image{
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    float: left;
    margin-right: 5px;
}
/*.d_post_date{
position: relative;
margin-top: -.5%;
}*/
.d_post_image:hover{
    /*transform: scale(.95);*/
}


.d_recent_news_parent{
    float: left;
    width: 100%;
    position: relative;
    background-color: #DCDCDC;
}
.d_recent_heading{
    font-size: 18px;
    font-weight: 600;
    color: #ae1a20;
}
.d_recent_news{
    float: left;
    width: 100%;
    position: relative;
    padding: 1rem;
}
hr .d_recentnews_hr{
    padding: 1rem 0rem;
    border-top: 2px dashed #8B0000;
}
