/*Initializing css*/
*{
    margin: 0;
    padding: 0;
}
html, body{
    font-family: "sutonnymjregular", Arial, sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/*Styles for slides*/
.carousel-inner{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 480px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 30px !important;
    background-color: #ae1a20 !important;
}
.slider_img{
    height: 480px;
    padding: 12px 15px;
    padding-bottom: 20px;
}

#slider_img{
    background-color: #f1f1f2;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
    line-height: 480px;
    object-fit: cover;
}
.o_slider_headline_box{
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: 25px;
    left: 20px;
    z-index: 2;
}
.o_slider_headline_box h5{
    padding: 20px 0px;
}
.o_slider_headline_box h5 a{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    color: black;
}
.o_slider_headline_box h5 a:hover{
    text-decoration: none;
    color:  #006747;
    transition: all 0.2s ease;
}
.o_below_advertise1{
    margin-top: 40px;
}
/*Style for advertisement box*/
.o_landscape_ad_landscape{
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background-color: #b9e6fa;
    line-height: 90px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}
/*Slider right*/
.o_spotlight_title{
    color: #ffffff;
    width: 90%;
    font-weight: 600;
    background-color: #006747;
    padding: 10px 0;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(69,68,69,1);
    -moz-box-shadow: 0px 5px 10px -5px rgba(69,68,69,1);
    box-shadow: 0px 5px 10px -5px rgba(69,68,69,1);
}
.o_slider_right{
    text-align: center;
    margin-top: 20px;
    height: 480px;
    margin-left: -15px;
}

.spotlight_img{
    height: 160px;
    width: 90%;
    object-fit: cover;
    margin-bottom: 5px;
}
.o_spotlight_headline a, .o_spotlight_headline a:visited{
    font-size: 18px;
    font-weight: 400;
    color:rgb(49, 49, 49);
    margin-bottom: 20px;
    transition: all 0.2s ease;
}
.o_spotlight_headline{
    transition: all 0.2s ease;
}
.o_spotlight_headline a:hover{
    color: #006747;
    font-size: 17px;
    text-decoration: none;
}
.o_spotlight_headline:hover{
    border-left: 5px solid #006747;
}
/* Top fact check */
.o_top_fact_check_wrap{
    background-color: #f1f1f2;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.o_top_fact_headline{
    text-align: left;
    padding: 0px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid #006747;
}
.o_top_fact_check_title{
    text-align: center;
}
.o_most_read_post_wrap{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #f1f1f2;
}
.o_most_read_button{
    width: 50%;
    float: left;
    font-size: 18px;
    background-color: #f1f1f2;
    border: 3px solid #ffffff;
    cursor: pointer;
    color: #006747;
    font-weight: 600;
}
.o_most_read_button:hover{
    border-color: #006747;
}
#o_most_recent_button{
    background-color: #006747;
    color: #ffffff;
}
#o_most_read_tab{
    display: none;
}
/* Donate image front page */
.o_donate_front_page{
    width: 90%;
    margin: 10px 5%;
}
/*front page 2nd row 1st post*/
.o_2nd_row_post1{
    background-color: #f1f1f2;
    border-bottom: 3px solid #006747;
    margin-bottom: 10px;
}
.o_2nd_row_img{
    width: 225px;
    height: 140px;
    object-fit: cover;
}
.o_2nd_row_cat{
    color: #ffffff;
    background-color: #006747;
    text-align: center;
    vertical-align: middle;
    width: max-content;
    padding: 5px 10px;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;    
    -webkit-box-shadow: 0px 5px 10px -5px rgba(69,68,69,1);
    -moz-box-shadow: 0px 5px 10px -5px rgba(69,68,69,1);
    box-shadow: 0px 5px 10px -5px rgba(69,68,69,1);
}
.o_2nd_row_1_title{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.2s ease;
}
.o_2nd_row_1_title:visited{
    color: black;
}
.o_2nd_row_1_title:hover{
    text-decoration: none;
    font-size: 19px;
    color: #006747;
}
.o_2nd_row_2_title{
    text-decoration: none;
    color: #4f5d52;
    font-size: 18px;
    transition: all 0.2s ease;
}
.o_2nd_row_2_title:visited{
    text-decoration: none;
    color: #4f5d52;
    font-size: 18px;
}
.o_2nd_row_2_title:hover{
    color: #006747;
    text-decoration: none;
    font-size: 19px;
}
.o_2nd_row_2_title_box{
    border-bottom: 1px solid #006747;
}
.o_post_2ndrow_column1{
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
}
.o_2nd_row_img2{
    width: 225px;
    height: 170px;
    object-fit: cover;
}
/*Styling for 3rd row post front page*/
.o_post_3rd_row{
    margin-top: 20px;
}

.o_3rd_row_post1{
    margin-top: 35px;
    position: relative;
    background: #ffffff;
    width: 300px;
    left: -50px;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(69,68,69,1);
    -moz-box-shadow: 0px 5px 10px -5px rgba(69,68,69,1);
    box-shadow: 0px 5px 10px -5px rgba(69,68,69,1);
    transition: all 0.2s ease;
}
.o_3rd_row_post1_wrap{
    padding: 10px 20px;
    padding-top: 0;
}
.o_3rd_row_2_title_box{
    position: relative;
    left: 0px;
    border-bottom: 1px solid #006747;
    margin-top: 20px;
}
.o_3rd_row_img{
    width: 600px;
    height: 350px;
    object-fit: cover;
}
.o_3rd_row_post_wrap{
    margin-left: -10px;

}
.o_landscape_ad_landscape_big{
    width: 900px;
    height: 120px;
    margin: 0 auto;
    background-color: #b9e6fa;
    line-height: 120px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*4th row post styling front page*/
.o_4th_row_img{
    width: 100%;
    height: 210px;
    object-fit: cover;
}
.o_4th_row_post1{
    background: #ffffff;
    border-bottom: 1px solid #006747;
}
.o_4th_row_2_title_box{
    border-bottom: 1px solid #006747;
}
.o_4th_row_2_title{
    text-decoration: none;
    color: #4f5d52;
    font-size: 18px;
    transition: all 0.2s ease;
}
.o_4th_row_2_title:visited{
    text-decoration: none;
    color: #4f5d52;
    font-size: 18px;
}
.o_4th_row_2_title:hover{
    color: #006747;
    text-decoration: none;
    font-size: 19px;
}
.o_5th_row_post_right{
    margin-top: 40px;
}
.o_khabardabar_img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.o_khabardabar_title{
    margin-top: 15px;
}
.o_khabardabar_title_text{
   font-weight: 500;
   font-size: 20px;
}
.o_media_school_content{
    padding-left: 0 !important;
}
/*===========================
    Styles for gallery
=======================*/
.o_gallery_wrap{
    background-color: #f1f1f2;
    padding: 20px;
}
.o_gallery_title_wrap{
    margin-top: 10px;
    margin-bottom: 60px;
}
.o_camera_icon{
    height: 25px;
    width: 32px;
    margin-top: 7px;
    float: left;
    object-fit: cover;
}
.o_camera_icon_2ndrow{
    height: 18px;
    width: 24px;
    margin-top: 7px;
    float: left;
    object-fit: cover;
}
.o_gallery_title_2ndrow{
    float: left;
    font-size: 18px;
    padding-top: 5px;
}
.o_gallery_title{
    font-weight: 500;
    font-size: 24px;
    padding-top: 3px;
    padding-left: 10px;
    float: left;
}
.o_gallery_img{
    width: 100%;
    height: 140px;
    object-fit: cover;
}
/*============================
    Advertise banner styling
==============================*/
.o_sideber_ad1{
    width: 90%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    line-height: 400px;
    background-color: #b9e6fa;
    font-size: 20px;
    margin-bottom: 20px;
}
.o_sideber_ad2{
    width: 90%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
    background-color: #b9e6fa;
    font-size: 20px;
    margin-bottom: 20px;
}
.o_sideber_ad3{
    width: 90%;
    height: 230px;
    margin: 0 auto;
    text-align: center;
    line-height: 230px;
    background-color: #c4df9b;
    font-size: 20px;
    margin-bottom: 20px;
}
.o_sideber_ad4{
    width: 90%;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    background-color: #b9e6fa;
    font-size: 20px;
    margin-bottom: 20px;
}
.o_sideber_ad4_green_color{
    background-color: #c4df9b;
}
.o_archive_img{
    height: 340px;
    width: 100%;
    object-fit: cover;
}
/*============================================
            Media query for mobile
==============================================*/


@media only screen and (max-width: 576px) {
    .carousel-inner, .slider_img{
        height: 240px;
    }
    #slider_img{
        line-height: 240px;
    }
    .o_slider_headline_box h5 a {
        font-size: 20px;
        text-align: left;
        padding: 0px;
        line-height: 1;
    }
    .o_slider_headline_box {
        padding: 0px 10px;
        text-align: left;
    }
    .o_slider_headline_box h5{
        padding: 3px 0;
    }
    .o_slider_right{
        margin-left: 15px;
    }
    .o_2nd_row_img, .o_2nd_row_img2, .o_3rd_row_img, .o_4th_row_img {
        width: 100%;
        height: 220px;
    }
    .o_3rd_row_post_wrap {
        margin-left: 0px;
    }
    .o_3rd_row_post1 {
        width: 100%;
        left: 0px;
    }
    .o_media_school_content{
        padding-left: 15px !important;
    }

}
/*============================================
            Media query for tablet
==============================================*/
@media (min-width: 577px) and (max-width: 993px) {
    .carousel-inner, .slider_img{
        height: 420px;
    }
    #slider_img{
        line-height: 420px;
    }
    .o_slider_headline_box h5 a {
        font-size: 25px;
        text-align: left;
        padding: 0px;
        line-height: 1;
    }
    .o_slider_headline_box {
        padding: 5px 10px;
        text-align: left;
    }
    .o_slider_headline_box h5{
        padding: 3px 0;
    }
    .o_slider_right{
        margin-left: 15px;
        height: auto;
    }
    .spotlight_img {
        height: 300px;
    }
    .o_2nd_row_img, .o_2nd_row_img2, .o_4th_row_img {
        width: 100%;
        height: 410px;
    }
    .o_3rd_row_post_wrap {
        margin-left: 0px;
    }
    .o_3rd_row_post1 {
        width: 100%;
        left: 0px;
    }
    .o_3rd_row_img{
        width: 100%;
        height: 300px;
    }
    .o_media_school_content{
        padding-left: 15px !important;
    }

}
/*===================================================
=========Media Query for Large Screen=================
====================================================*/
@media only screen and (min-width: 1900px) {

}